<!DOCTYPE html>
<html>
<head>
  <title>Users List</title>
</head>
<body>
  <h1>Admin Page - Registered Users</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>